
/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color:aliceblue;
}

/* Form styling */
form {
    background-color:white;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
/* Label styling */
label {
    font-weight: bold;
}
/* Styling for submit */
input[type="submit"] {
    background-color:blue;
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color:blue;
}
